[Unit]
Description=Midi Mixer Control

[Service]
ExecStartPre=/bin/sleep 5
ExecStart=/home/alex/nanoKontroller/nanoKontroller -d

[Install]
WantedBy=default.target
